<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.p4.data.importer.importers" name="Importers" schema="schema/org.polymap.p4.data.importers.exsd"/>
   <extension
         point="org.polymap.p4.data.importer.importers">
      <importer
            class="com.hydrologis.polymap.geopaparazzi.importer.GeopaparazziImporterFactory">
      </importer>
   </extension>

</plugin>
